.example3 .navbar-brand {
	height: 90px;
}

.example3 .nav>li>a {
	padding-top: 30px;
	padding-bottom: 30px;
}

.example3 .navbar-toggle {
	padding: 10px;
	margin: 25px 15px 25px 0;
}

.img {
	height: 70px;
}

div.static {
	position: static;
	border: 3px solid #73AD21;
}

.own-table {
	border: solid 5px #DDEEEE;
	border-collapse: collapse;
	font: normal 15px Arial, sans-serif;
	width: 100%;
}

.own-table thead th {
	background-color: rgba(76, 185, 180, 0.9);
	border: solid 5px #DDEEEE;
	color: #000;
}

.own-table tbody td {
	border: solid 5px #DDEEEE;
	color: #333;
	padding: 10px;
}

.own-table-rounded {
	border: none;
}

.own-table-rounded tbody th {
	border: none;
	height: 1cm;
	background-color: rgba(0, 150, 180, 0.7);
	color: #000000;
	font: bold 17px Arial, sans-serif;
	padding-left: 10px;
}

.own-table-rounded thead th:first-child {
	border-radius: 10px 0 0 0;
}

.own-table-rounded thead th:last-child {
	border-radius: 0 10px 0 0;
}

.own-table-rounded tbody td {
	border: none;
	border-top: solid 3px #000;
	background-color: rgba(172, 231, 240, 0.7);
	color: #000000;
}

.own-table-rounded tbody tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
/*.own-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}*/
input[type=text] {
	background-color: rgba(255, 255, 255, 0.70);
	color: black;
	width: 100%;
	float: right;
}

input[type=number] {
	background-color: rgba(255, 255, 255, 0.70);
	color: black;
	width: 100%;
}

input[type=date] {
	background-color: rgba(255, 255, 255, 0.70);
	color: black;
	width: 100%;
}

div.my {
	width: 50%;
	display: inline;
	float: left;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: gray;
	opacity: 1; /* Firefox */
}

.form-control {
	background-color: rgba(255, 255, 255, 0.70);
	color: black;
	width: 100%;
}

label {
	color: blue;
	display: inline;
	background-color: rgba(171, 200, 200, 0.44);
	border-radius: 3px 3px 3px 3px;
}

h3.half {
	color: rgb(67, 68, 68);
	font: bold;
	background-color: rgba(171, 200, 200, 0.44);
	border-radius: 3px 3px 3px 3px;
	width: 50%;
}

h3.halfe {
	color: rgb(54, 236, 236);
	font: bold;
	background-color: rgba(171, 200, 200, 0.44);
	border-radius: 3px 3px 3px 3px;
	width: 50%;
	float: right;
}

/*table::before {
	content: "Wine card";
	background-color: rgba(171, 200, 200, 0.36);
	color: rgb(67, 68, 68);
	font-weight: bold;
	font-size: 40px;
	width: 100%;
	border-radius: 3px 3px 3px 3px;
}*/


span.map {
	float: right;
	width: 50%;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
}
input.search[type=text] {
	background-color: white;
	color: black;
	width: 60%;
	
}

div.about {
	color: black;
	background-color: rgba(255, 255, 255, 0.80);
	border-radius: 15px 15px 15px 15px;
	padding: 1cm ;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
div.searchGroup{
	padding: 0.1cm;
	float: left;
	display: inline-block;
	background-color: blue;
	border-radius: 10px 10px 10px 10px;
	margin:0 auto;
	position:fixed;
	top: 15%;
	left: 1%;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 2.8em;
  margin: 0.1em;
  position: relative;
  color: #000;
  transform-style: preserve-3d;
  perspective: 900;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #000;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-5deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

.filterBtn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1161eb), color-stop(1, #003c85));
	background:-moz-linear-gradient(top, #1161eb 5%, #003c85 100%);
	background:-webkit-linear-gradient(top, #1161eb 5%, #003c85 100%);
	background:-o-linear-gradient(top, #1161eb 5%, #003c85 100%);
	background:-ms-linear-gradient(top, #1161eb 5%, #003c85 100%);
	background:linear-gradient(to bottom, #1161eb 5%, #003c85 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1161eb', endColorstr='#003c85',GradientType=0);
	background-color:#1161eb;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:5px solid #3d508a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:19px;
	font-weight:bold;
	padding:13px 46px;
	text-decoration:none;
	text-shadow:-2px 2px 6px #071129;
}
.filterBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #003c85), color-stop(1, #1161eb));
	background:-moz-linear-gradient(top, #003c85 5%, #1161eb 100%);
	background:-webkit-linear-gradient(top, #003c85 5%, #1161eb 100%);
	background:-o-linear-gradient(top, #003c85 5%, #1161eb 100%);
	background:-ms-linear-gradient(top, #003c85 5%, #1161eb 100%);
	background:linear-gradient(to bottom, #003c85 5%, #1161eb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#003c85', endColorstr='#1161eb',GradientType=0);
	background-color:#003c85;
}
.filterBtn:active {
	position:relative;
	top:1px;
}






.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #ed2553;
}
.pen-title span a {
  color: #ed2553;
  font-weight: 600;
  text-decoration: none;
}




}