<div class="about">
	<h1>About wines</h1>
	<div><div style="float: left;width: 50%">
	<p>Wine (from Latin vinum) is an alcoholic beverage made from grapes, generally Vitis vinifera, fermented without the addition of sugars, acids, enzymes, water, or other nutrients.

Yeast consumes the sugar in the grapes and converts it to ethanol and carbon dioxide. Different varieties of grapes and strains of yeasts produce different styles of wine. These variations result from the complex interactions between the biochemical development of the grape, the reactions involved in fermentation, the terroir, and the production process. Many countries enact legal appellations intended to define styles and qualities of wine. These typically restrict the geographical origin and permitted varieties of grapes, as well as other aspects of wine production. Wines not made from grapes include rice wine and fruit wines such as plum, cherry, pomegranate and elderberry.

Wine has been produced for thousands of years. The earliest known traces of wine are from Georgia, Iran, and Sicily although there is evidence of a similar alcoholic beverage being consumed earlier in China.The earliest known winery is the 6,100-year-old Areni-1 winery in Armenia.Wine reached the Balkans by 4500 BC and was consumed and celebrated in ancient Greece, Thrace and Rome. Throughout history, wine has been consumed for its intoxicating effects.

Wine has long played an important role in religion. Red wine was associated with blood by the ancient Egyptians and was used by both the Greek cult of Dionysus and the Romans in their Bacchanalia; Judaism also incorporates it in the Kiddush and Christianity in the Eucharist</p></div><div>
<img src="/static/assets/img/about.jpg" style="width: 530px;float: right;"></div></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h4 style="font-size: 33px;">Variants</h4>
<p>
<b>Red wine</b><br>
Main article: Red wine
The red-wine production process involves extraction of color and flavor components from the grape skin. Red wine is made from dark-colored grape varieties. The actual color of the wine can range from violet, typical of young wines, through red for mature wines, to brown for older red wines. The juice from most purple grapes is actually greenish-white; the red color comes from anthocyan pigments (also called anthocyanins) present in the skin of the grape; exceptions are the relatively uncommon teinturier varieties, which actually have red flesh and produce red juice.<br><br>
<br>
<b>White wine</b><br>
Main article: White wine
White wine can be straw-yellow, yellow-green, or yellow-gold. Fermentation of the non-colored grape pulp produces white wine. The grapes from which white wine is produced are typically green or yellow. Some varieties are well-known, such as the Chardonnay, Sauvignon, and Riesling. Other white wines are blended from multiple varieties; Tokay, Sherry, and Sauternes are examples of these. Dark-skinned grapes may be used to produce white wine if the wine-maker is careful not to let the skin stain the wort during the separation of the pulp-juice. Pinot noir, for example, is commonly used to produce champagne.<br>


Dry (non-sweet) white wine is the most common, derived from the complete fermentation of the wort. Sweet wines are produced when the fermentation is interrupted before all the grape sugars are converted into alcohol. Sparkling wines, which are mostly white wines, are produced by not allowing carbon dioxide from the fermentation to escape during fermentation, which takes place in the bottle rather than in the barrel.
<br><br>

<b>Rosé wine</b><br>
Main article: Rosé wine
A rosé wine incorporates some of the color from the grape skins, but not enough to qualify it as a red wine. It may be the oldest known type of wine, as it is the most straightforward to make with the skin contact method. The pink color can range from a pale orange to a vivid near-purple, depending on the varietals used and wine-making techniques. There are three primary ways to produce rosé wine: skin contact (allowing dark grape skins to stain the wort), saignée (removing juice from the must early in fermentation and continuing fermentation of the juice separately), and blending (uncommon and discouraged in most wine growing regions). Rosé wines can be made still, semi-sparkling, or sparkling, with a wide range of sweetness levels from dry Provençal rosé to sweet White Zinfandels and blushes. Rosé wines are made from a wide variety of grapes all over the world.<br><br>

<b>Fruit wines</b><br>
Main article: Fruit wine
Wines from other fruits, such as apples and berries, are usually named after the fruit from which they are produced combined with the word "wine" (for example, apple wine and elderberry wine) and are generically called fruit wine or country wine (not to be confused with the French term vin de pays). Other than the grape varieties traditionally used for wine-making, most fruits naturally lack either sufficient fermentable sugars, relatively low acidity, yeast nutrients needed to promote or maintain fermentation, or a combination of these three characteristics. This is probably one of the main reasons why wine derived from grapes has historically been more prevalent by far than other types, and why specific types of fruit wine have generally been confined to regions in which the fruits were native or introduced for other reasons.<br><br>

<b>Mead (honey wine)</b><br>
Main article: Mead
Mead, also called honey wine, is created by fermenting honey with water, sometimes with various fruits, spices, grains, or hops. As long as the primary substance fermented is honey, the drink is considered mead.Mead was produced in ancient history throughout Europe, Africa and Asia,and was known in Europe before grape wine.</p>
</div>