<link href="/static/assets/css/gallery.css" rel="stylesheet" />
<h1 class="stage">Wine gallery</h1><br><br><br>

<div class="gallery ">
  <div>
    <img src="/static/assets/img/g1.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g2.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g3.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g4.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g5.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g6.jpg" />
  </div>
  <div>
  <img src="/static/assets/img/g7.jpg" />
  </div>
  <div>
  <img src="/static/assets/img/g8.jpg" />
  </div>
  <div>
  <img src="/static/assets/img/g9.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g10.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g11.jpg" />
  </div>
  <div>
    <img src="/static/assets/img/g12.jpg" />
  </div>
</div>
