<div ng-controller="wineCtrl">


	<span class="map">
		<h3 class="half">Find us on map...</h3> <iframe width=100%
			height="450" frameborder="0" style="border: 0; float: right;"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAz4_XNSGZE8K9Y8325vIdx1nTqodBUl4c
    &q=Kornelija+Stankovica+24,+Novi+Sad"
			allowfullscreen> </iframe>
	</span>


	<div class="row my ">
		<br />
		<form>
			
			<div class="foo">
  <span class="letter" data-letter="A">A</span>
  <span class="letter" data-letter="D">D</span>
  <span class="letter" data-letter="D">D</span>
  <span class="letter" data-letter=" "> </span>
  <span class="letter" data-letter="N">N</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter="W">W</span>
  <span class="letter" data-letter=" "> </span>
  <span class="letter" data-letter="W">W</span>
  <span class="letter" data-letter="I">I</span>
  <span class="letter" data-letter="N">N</span>
  <span class="letter" data-letter="E">E</span>
 
</div>
			<div class="col-25">
				<label for="nameNW">Name:</label> <input type="text" name="nameNW"
					ng-model="newWine.name" placeholder="Please enter wine name"
					id="clear" required>
			</div>
			<br>
			<br>
			<div class="col-25">
				<label for="vintage">Vintage:</label> <input type="number"
					id="rangeForm" name="vintage" ng-model="newWine.vintage"
					placeholder="Please enter vintage" min="1500" max="2018" integer required>
			</div>
			<br />
			<div class="col-25">
				<label for="percent">Alcohol percent:</label> <input type="number"
					name="percent" ng-model="newWine.alcoholPercent"
					placeholder="Please enter alcohol percent"
					ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" double required>
				<span ng-show="form.size.$error.double">The value is not a
					valid integer!</span>

			</div>
			<div class="col-25">
				<label for="company">Company</label> <select class="form-control"
					name="company" ng-model="newWine.companyId" required>
					<option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>

				</select>
			</div>
			<div class="col-25">
				<label for="type">Type</label> <select class="form-control"
					name="type" ng-model="newWine.typeId" required>
					<option  ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>

				</select>
			</div>

			<div class="col-25">
				<label for="price">Price:</label> <input type="number" name="price"
					ng-model="newWine.price" placeholder="Please enter price"
					ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" double required>
				<span ng-show="form.size.$error.double">The value is not a
					valid decimal number!</span>

			</div>
			<div class="col-25">
				<label for="quantity">Quantity:</label> <input type="number"
					name="quantity" ng-model="newWine.quantity"
					placeholder="Please enter the number of wine bottles" integer
					required> <span ng-show="form.size.$error.integer">The
					value is not a valid integer!</span>

			</div>
			<br />
			<button type="button" class="btn btn-primary"
				ng-click="newWine= null">Clear</button>
			<button type="submit" id="register-form" class="btn btn-primary"
				ng-click="add()">Add!</button>
		</form>

		<br /> <br /> <br />
<input  type="button" name="filter" ng-click="filter=!filter" class="filterBtn" value="Filter" style="float: left;">
<form>
	
 <br><br><br><br>
<div ng-show="filter" style="padding: 0.1cm;float: left;display: inline-block;background-color: black" >
	 <div class="input-container">
	<input list="names" name="name" ng-model="findWine.name" autocomplete="off" style="padding: 0.1cm" placeholder="Insert wine name">
  <datalist id="names">
    <option  ng-repeat="wine in wines" value="{{wine.name}}">{{wine.name}}</option>
  </datalist>
</div> <div class="input-container">
	<input type="number" name="vintage" placeholder="Insert vintage"  ng-model="findWine.vintage" min="1500" max="2018" integer>
</div> <div class="input-container">
	<input type="number" name="minPrice" placeholder="Insert min price" style="padding: 0.1cm" ng-model="findWine.minPrice">
</div> <div class="input-container">
	<input type="number" name="maxPrice" placeholder="Insert max price" style="padding: 0.1cm" ng-model="findWine.maxPrice">
</div>
	
	<button type="search"  ng-click="find()" class="btn-success" style="width: 100%">Search!</button>

	</div></form>
	</div>
		<div  >
				<div class="foo" style="float: left;font-size: 30px;">
  <span class="letter" data-letter="W">W</span>
  <span class="letter" data-letter="I">I</span>
  <span class="letter" data-letter="N">N</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter=" "> </span>
  <span class="letter" data-letter="C">C</span>
  <span class="letter" data-letter="A">A</span>
  <span class="letter" data-letter="R">R</span>
  <span class="letter" data-letter="D">D</span>

 
</div>
		
	
		<table class="own-table own-table-rounded">

			<tr>
				<th>Name</th>
				<th>Alcohol percent</th>
				<th>Vintage</th>
				<th>Company</th>
				<th>Country</th>
				<th>Type</th>
				<th>Price</th>
				<th>Quantity</th>
				<th "><form><div style="float: right;">
                    <button  style="float: right;" type="search"  ng-click="find()"><i class="fa fa-search"></i></button>
      <input type="text" class="search" placeholder="Search.." name="name" ng-model="findWine.name">
      
    </div></form></th>

			</tr>
			<tr ng-repeat="wine in wines">
				<td>{{wine.name}}</td>
				<td>{{wine.alcoholPercent}}%</td>
				<td>{{wine.vintage}}</td>
				<td>{{wine.companyName}}</td>
				<td>{{wine.companyCountry}}</td>
				<td>{{wine.typeName}}</td>
				<td>{{wine.price}}$</td>
				<td>{{wine.quantity}}</td>
				<td >
					<button style="float: right;" class="btn btn-primary" ng-click="delete(wine.id)">Delete</button>
					<button style="float: right;" class="btn btn-info" ng-click="edit(wine.id)">Edit</button>
				</td>
			</tr>
		</table>
	</div>
		<div class="btn-group pull-right" >
			<button class="btn btn-primary" ng-click="preview()"
				ng-disabled="pageNum==0">Preview</button>
			<button class="btn btn-primary" ng-click="next()"
				ng-disabled="pageNum == totalPages - 1">Next</button>
		</div> <br>
	<br>

</div>
